# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
m2-repo/

# User-specific stuff
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
